@import '../../global.scss';

header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: green;
}

.header__logo {
  width: 300px;
  cursor: pointer;
}

h1 {
  color: white;
}

.header__btn {
  position: absolute;
  top: 160px;
  width: 150px;
  @include main-btn;
}

.header__btnIcon {
  margin-left: 8px;
}
