.cartItem {
  display: flex;
  width: 90%;
  height: 100px;
  margin: 8px;
  justify-content: space-around;
  background-color: white;
}

.cartItem__img {
  width: 50px;
}

.cartItem__btn {
  margin: 24px 0;
  padding: 16px;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
  &:hover {
    color: white;
    background-color: red;
  }
}
