@mixin main-btn {
  padding: 8px 4px;
  border: none;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: darkgrey;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: rgba(145, 145, 1, 1);
    color: white;
  }
  &:active {
    background-color: rgba(145, 145, 1, 0.9);
    color: white;
  }
}

@mixin secondary-btn {
  position: relative;
  width: 150px;
  padding: 8px 16px;
  border: 2px solid #9acd32;
  font-family: 'IBM Plex Serif', sans-serif;
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: rgba(190, 218, 136, 1);
  }
  &:active {
    background-color: rgba(190, 218, 136, 0.5);
  }
}
